---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { siteConfig } from "@/site-config";
import Head from "@/components/seo/Head.astro";

export type Props = {
  title?: string;
  description?: string;
  ogImage?: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang={siteConfig.lang}>
  <head>
    <Head title={title} />
    <ViewTransitions />
  </head>
  <body class="no-transition">
    <slot />
    <script>
      document.addEventListener("astro:after-swap", () => {
        sessionStorage.mode === "light"
          ? document.body.classList.add("lightmode")
          : document.body.classList.remove("lightmode");
      });
    </script>
    <script>
      document.addEventListener("astro:page-load", () => {
        document.body.classList.remove("no-transition");
      });
    </script>
  </body>
</html>
