---
import { sanityClient } from "sanity:client";
import ImageBuilder from "../components/utils/ImageBuilder.astro";

const aboutData = await sanityClient.fetch(`*[_type == 'project'][2]{
  "image": thumbnailImage.asset._ref,
  "alt": thumbnailImage.asset.alt,
  "lqip": thumbnailImage.asset->metadata.lqip,
  "ratio": thumbnailImage.asset->metadata.dimensions.aspectRatio,
}`);
---

<p>Text</p>

<ImageBuilder
  source={aboutData.image}
  alt={aboutData.alt}
  ratio={aboutData.ratio}
  lqip={aboutData.lqip}
/>
