---
import { Picture } from "astro:assets";
import { urlFor } from "../utils/urlForImage";

import { sanityClient } from "sanity:client";

const aboutData = await sanityClient.fetch(`*[_type == 'about'][0]{
    "aboutImage": aboutImage.asset._ref,
    aboutAltText,
}`);

console.log(aboutData.aboutImage);
---

<p>Test</p>

<Picture
  src={urlFor(aboutData.aboutImage).url()}
  width={700}
  height={700}
  formats={["avif", "webp"]}
  alt={aboutData.aboutAltText}
/>
