---
import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/layout/Nav.astro";
import Hero from "@/components/front/Hero.astro";
import FeaturedProjects from "@/components/front/FeaturedProjects.astro";
import About from "@/components/front/About.astro";
import FloatingModeSwitcher from "@/components/layout/FloatingModeSwitcher.astro";
import Footer from "@/components/layout/Footer.astro";
import BgLayer from "@/components/layout/BgLayer.astro";
---

<Layout>
  <Nav />
  <!--   <Language /> -->
  <main>
    <Hero />
    <FeaturedProjects />
    <About />
  </main>
  <Footer />
  <BgLayer />
  <FloatingModeSwitcher />
</Layout>

<style lang="scss">
  @media screen and (max-width: 52rem) {
    .projects-wrapper {
      grid-template-columns: 1fr 1fr;
    }

    .about-section {
      grid-auto-flow: row;
      grid-template-columns: none;
      margin-left: 0;
      padding: 2rem;
    }

    .about-text {
      margin-top: -4rem;
    }

    .about-image-wrapper {
      transform: translate(0, -5rem);
      max-width: 15rem;
    }
  }
  @media screen and (max-width: 32rem) {
    .container {
      padding: 0 1.2rem;
    }
    .projects-wrapper {
      grid-template-columns: 1fr;
    }
  }

  @media only screen and (hover: none), (max-width: 32rem) {
    .copyright {
      margin-bottom: 5.5rem;
    }
  }
</style>
