---
import { sanityClient } from "sanity:client";

import ImageBuilder from "../components/ImageBuilder.astro";

const aboutData = await sanityClient.fetch(`*[_type == 'about'][0]{
    "aboutImage": aboutImage.asset._ref,
    aboutAltText,
}`);
---

<p>Test</p>

<ImageBuilder
  source={aboutData.aboutImage}
  cls="Test"
  w={600}
  alt={aboutData.aboutAltText}
/>
