---
import "../../styles/global.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";

import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";

import { urlForImage } from "../../utils/urlForImage.js";

import { getAllProjects } from "../../lib/api.js";

export async function getStaticPaths() {
  const allProjectData = await getAllProjects();

  return allProjectData.map((project: any) => {
    return {
      params: { projectName: project.slug.current },
      props: { project },
    };
  });
}
const { projectName } = Astro.params;
const { project } = Astro.props;

const tagsArray = project.tags;
---

<ProjectLayout title={project.projectName}>
  <Nav />
  <div class="project-container">
    <img
      class="rounded-lg mt-36"
      src={urlForImage(project.thumbnailImage).height(300).url()}
    />
    <h1 class="">{project.projectName}</h1>
    <div id="tag-list"></div>
    <h2>{project.description}</h2>
  </div>
</ProjectLayout>
<Footer />


<script define:vars={{ tagsArray }}>
  const list = document.getElementById("tag-list");

  const tagList = tagsArray.map((tag) => {
    const tagSpan = document.createElement("span");
    tagSpan.textContent = tag;
    tagSpan.classList.add("tag");
    return tagSpan;
  });

  tagList.forEach((item) => list.appendChild(item));
</script>
<style>
  #tag-list {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    font-weight: 700;
    text-transform: uppercase;

  }
  .project-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    min-height: 100vh;
  }

</style>