---
import { useSanityClient } from "@sanity/astro";

const aboutSlug = await useSanityClient().fetch(`*[_type == 'about'][0]{
  "slug": slug.current
}`);
---

<footer>
  <p class="copyright">
    Hand-crafted by <a href={"/#" + aboutSlug.slug}>me</a>, powered by <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://astro.build/">Astro</a
    >
     &copy; <span id="copyright-date"></span>
  </p>
</footer>

<style lang="scss">
  footer {
    position: relative;
    margin-top: 10rem;

    .copyright {
      user-select: none;
      text-align: center;
      font-weight: 400;
      color: var(--c-lighter-text);
      font-size: var(--step--1);
      padding: 0.5rem;
      transition: color var(--modeswitch-transition-time);

      a {
        opacity: 1;
        color: var(--c-fg);
        font-weight: 700;
        transition: color var(--modeswitch-transition-time);

        &:hover {
          color: rgb(var(--clr-accent));
        }
      }
    }
  }
</style>

<script>
  document.querySelector("#copyright-date").textContent =
    "2k" + new Date().getFullYear().toString().substring(2, 4);
</script>
