---
import { useSanityClient } from "@sanity/astro";
import ImageBuilder from "./ImageBuilder.astro";

export interface Props {
  currentSlug: string;
}

const { currentSlug } = Astro.props as Props;

const allProjectData = await useSanityClient().fetch(
  `*[_type == 'projectsSection'][0]{projectsFeatured[]->{
        projectName,
        "slug": slug.current,
        "thumbnailImage": thumbnailImage.asset._ref,
        thumbAltText,
    }
}`
);

let nextProjectSlug = "";
let nextProjectTitle = "";
let nextThumbnailImage = "";
let nextThumbAltText = "";
if (allProjectData.projectsFeatured) {
  const currentIndex = allProjectData.projectsFeatured.findIndex(
    (project: any) => project.slug === currentSlug
  );
  const nextIndex = (currentIndex + 1) % allProjectData.projectsFeatured.length;
  nextProjectSlug = allProjectData.projectsFeatured[nextIndex]?.slug;
  nextProjectTitle = allProjectData.projectsFeatured[nextIndex]?.projectName;
  nextThumbnailImage =
    allProjectData.projectsFeatured[nextIndex]?.thumbnailImage;
  nextThumbAltText = allProjectData.projectsFeatured[nextIndex]?.thumbAltText;
}
---

{
  nextProjectSlug && (
    <div class="wrapper">
      <a class="next-project-button" href={"/" + nextProjectSlug}>
        <div class="next-image-wrapper">
          <ImageBuilder
            cls="next-image"
            source={nextThumbnailImage}
            alt={nextThumbAltText}
            w={320}
          />
          <div class="next-image-overlay" />
        </div>
        <svg
          width="89"
          height="42"
          viewBox="0 0 89 42"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M47.9646 36.4204C46.0293 38.2803 42.9707 38.2803 41.0354 36.4204L14.9539 11.3551C11.7075 8.23514 13.916 2.75 18.4185 2.75L70.5815 2.75001C75.0841 2.75001 77.2925 8.23514 74.0461 11.3551L47.9646 36.4204Z" />
        </svg>
        <span>Nächstes Projekt</span>
      </a>
    </div>
  )
}

<style lang="scss">
  .wrapper {
    margin: 2rem auto 0;
    padding: 0 var(--content-px);
    width: fit-content;
    .next-project-button {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 20rem;
      font-size: var(--step-2);
      font-weight: 600;
      background-color: var(--c-bg);
      padding: 2rem;
      outline: solid var(--stroke-w) var(--c-stroke);
      border-radius: var(--project-sm-radius);
      text-align: center;
      overflow: hidden;
      transition:
        background-color var(--modeswitch-transition-time),
        outline var(--modeswitch-transition-time);

      &:hover {
        span {
          color: rgb(var(--clr-accent));
        }
        .next-image-wrapper {
          opacity: 1;
        }
      }

      .next-image-wrapper {
        position: absolute;
        opacity: 0;
        inset: 0;
        transition: 0.2s ease-out;
        background-color: var(--c-stroke);
        .next-image-overlay {
          position: absolute;
          z-index: 1;
          inset: 0;
          background: linear-gradient(
            0deg,
            var(--c-bg-90) 0%,
            var(--c-bg) 100%
          );
        }
      }
      span {
        transition: 0.2s ease-out;
        z-index: 2;
      }
      svg {
        transition: stroke var(--modeswitch-transition-time);
        fill: rgb(var(--clr-wb-light));
        stroke: var(--c-stroke);
        stroke-width: 3.5px;
        stroke-linecap: round;
        z-index: 2;
      }
    }
  }
</style>
