---
import { urlForImage } from "../utils/urlForImage.js";

export interface Props {
  projectName: string;
  projectLink: string;
  projectThumbnail: object;
}
const { projectName, projectLink, projectThumbnail } = Astro.props as Props;
---

<div class="card-wrapper">
  <a href={"/projects/" + projectLink} class="card-link">
    <p class="card-title">{projectName}</p>
    <img
      class="thumbnail-image"
      src={urlForImage(projectThumbnail).height(600).url()}
      alt={projectName}
      draggable="false"
    />
    <div class="card-border"></div>
  </a>
</div>


<style>
  .card-wrapper {
    position: relative;
    margin-bottom: 10%;
    border-radius: 4%;
    overflow: hidden;
    box-shadow: 0px 6px 10px -8px var(--dropshadow);
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--bgvar);
  }



  .card-wrapper:hover a > .card-title {
    opacity: 1;
  }

  .card-wrapper:hover a > .thumbnail-image {
    filter: brightness(50%)
  }

  .card-wrapper:hover a > .card-border {
    opacity: 0.6;
  }

  .card-title {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0 16px;
    margin: 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    opacity: 0;
    font-weight: 600;
    transition: 0.4s ease-in-out;
  }

  .thumbnail-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.4s ease-in-out;
  }

  .picbg {
    position: relative;
    padding-top: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.4s ease-in-out;
  }

  .card-border {
    position: absolute;
    opacity: 0;
    height: 88%;
    width: 88%;
    margin: 6%;
    border-radius: 8%;
    top: 0;
    left: 0;
    border: solid 0.6rem white;
    box-sizing: border-box;
    transition: opacity 0.4s ease-in-out;
  }
</style>
