---
import ImageBuilder from './ImageBuilder.astro';

export interface Props {
  sectionTitle: string;
  sectionText: string;
  sectionImages: object[];
}
const { sectionTitle, sectionText, sectionImages } = Astro.props as Props;
---

<div class="section-wrapper">
  <h3 class="section-title">{sectionTitle}</h3>
  <p class="section-text">{sectionText}</p>
  {
    sectionImages?.map((image: any) => (
      <div class="image-wrapper">
        <ImageBuilder cls="project-section-image" w={1000} source={image}/>
      </div>
    ))


  }
</div>

<style lang="scss">
  .image-wrapper {
    margin: auto;
    text-align: center;
  }

  .section-title {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 800;
  }

  .section-text {
    margin-bottom: 5rem;
    max-width: calc(var(--breakpoint-md) * 0.6);
    width: auto;
  }
</style>
