.image--thumbnail {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.01);
  transform-origin: center;
  transition: var(--card-transition-time);
}

.about-image {
  max-width: calc(100% + var(--about-img-offset));
  width: calc(100% + var(--about-img-offset));
  height: auto;
  box-shadow: 0px 6px 10px -8px black;
  background-color: rgb(var(--c-stroke));
  transition: var(--card-transition-time);
}

.project-hero-image {
  width: 100%;
  object-fit: cover;
}

.image--next {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: var(--sm-radius);
  transform-origin: center;
  transition: var(--card-transition-time);
}

@media only screen and (width <= 800px) {
  :root {
    --project-sections-gap: 4rem;
  }

  .thumbnail-image {
    filter: brightness(1);
  }
}
