.thumbnail-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.01);
  transform-origin: center;
  transition: var(--card-transition-time);
}

.about-image {
  max-width: calc(100% + var(--about-img-offset));
  width: calc(100% + var(--about-img-offset));
  height: auto;
  border-radius: 2rem;
  box-shadow: 0px 6px 10px -8px black;
  outline: solid var(--stroke-w) rgb(var(--c-stroke));
  background-color: rgb(var(--c-stroke));
  transition: var(--card-transition-time);
}

.project-hero-image {
  width: 100%;
  height: calc(100vh - var(--nav-height) - 3rem);
  max-height: 1250px;
  background-color: var(--clr-wb-neutral);
  object-fit: cover;
  max-width: var(--hero-w);
  margin: auto;
  border-radius: var(--project-md-radius);
}

.next-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: var(--project-sm-radius);
  padding: 6px;
  transform: scale(1.01);
  transform-origin: center;
  transition: var(--card-transition-time);
}

.block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

@media only screen and (max-width: 800px) {
  :root {
    --project-sections-gap: 4rem;
  }

  .thumbnail-image {
    filter: brightness(1);
  }
  .project-hero-image {
    border-radius: 0;
  }
  .single-image,
  .double-image {
    border-radius: 0;
  }

  .about-image {
    max-width: 22rem;
    width: 100%;
  }
}
