*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-display: block;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: rgb(var(--c-fg));
}

body {
  background: rgb(var(--c-bg));
  transition: background var(--modeswitch-transition-time) ease-out;
  overflow-x: hidden;
  position: relative;
}

.no-transition,
.no-transition *,
.no-transition *::before,
.no-transition *::after {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

p {
  hyphens: manual;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(var(--c-fg));
}

ul {
  list-style: none;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  color: transparent;
  width: 100%;
  user-select: none;
  object-fit: cover;
  height: 100%;
  background-color: rgb(var(--c-fg)), 0.1;
}

::selection {
  background: rgb(var(--c-fg));
  color: rgb(var(--c-bg));
}

button {
  background: none;
  border: none;
}

.block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  & > * {
    transition: color 200ms ease-out;
  }
  a {
    font-weight: 700;
    transition: color 200ms ease-out;
    &:hover {
      color: rgb(var(--clr-accent));
    }
  }
}

@media screen and (max-width: 800px) {
  :root {
    --content-px: 1rem;
  }
}
