:root {
  /* Constants */
  --content-w: 58rem; /* = 800px - 2*content-px */
  --content-px: 2rem;

  --nav-height: 4rem;
  --nav-offset: 4rem;

  --stroke-w: 4px;

  --hero-w: 78rem;
  --hero-modeswitch-h: 7rem;
  --hero-modeswitch-w: 14rem;
  --hero-modeswitch-slider-dist: 1.5rem;

  --float-modeswitch-size: 5rem;
  --float-modeswitch-h: 2.4rem;
  --float-modeswitch-w: 4rem;
  --float-modeswitch-slider-dist: 1rem;

  --featured-offset: 9rem;
  --card-h: 11rem;
  --card-gap: 1.5rem;
  --card-radius: 2rem;
  --card-offset: 1rem;

  --about-img-offset: 5rem;

  --project-content-w: 70rem;
  --md-radius: 2rem;
  --sm-radius: 1rem;

  --project-container-offset: 5rem;
  --project-grid-columns: 10;
  --project-grid-nr: calc(var(--project-grid-columns) * 2 - 1);
  --project-grid-gap: 1.8%;
  --project-sections-gap: 7rem;

  --modeswitch-transition-time: 400ms;
  --card-transition-time: 300ms;
  --hover-transition: 150ms ease-out;

  --grain: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

  /* Constant Colors */
  --clr-orange: 217 119 14;
  --clr-yellow: 204 192 22;
  --clr-accent: var(--clr-orange);

  --clr-wb-dark: 24 24 24;
  --clr-wb-darkish: 39 39 39;
  --clr-wb-neutral: 136 136 136;
  --clr-wb-light: 250 250 250;
  --clr-transparent: 0 0 0 / 0;

  /* Color Variables */
  --c-bg: var(--clr-wb-dark);
  --c-fg: var(--clr-wb-light);
  --c-logo-fg: var(--clr-wb-light);
  --c-logo-bg: var(--clr-wb-neutral);
  --c-stroke: var(--clr-transparent);
  --c-highlighted-bg: var(--clr-wb-light);

  --c-pill-bg: rgb(var(--clr-wb-dark) / 0.6);

  /* Text Scaling */
  --step--2: clamp(0.6331rem, 0.7157rem + -0.1065vw, 0.6944rem);
  --step--1: clamp(0.8331rem, 0.8294rem + 0.0185vw, 0.8438rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.0959rem + 0.5207vw, 1.4994rem);
  --step-2: clamp(1.36rem, 1.1427rem + 0.8717vw, 1.788rem);
  --step-3: clamp(1.7281rem, 1.4025rem + 1.6283vw, 2.6644rem);
  --step-4: clamp(2.0738rem, 1.5596rem + 2.5707vw, 3.5519rem);
  --step-5: clamp(2.4881rem, 1.7066rem + 3.9076vw, 4.735rem);
}

.lightmode {
  --c-bg: var(--clr-wb-light);
  --c-fg: var(--clr-wb-dark);
  --c-logo-fg: var(--clr-transparent);
  --c-logo-bg: var(--clr-transparent);
  --c-stroke: var(--clr-wb-dark);
  --c-highlighted-bg: var(--clr-wb-dark);

  --c-pill-bg: rgb(var(--clr-wb-light));
}

@import "partials/fonts";
@import "partials/setup";
@import "partials/images";
