:root {
  /* Constants */
  --content-w: 58rem; /* = 800px - 2*content-px */
  --content-px: 2rem;
  --nav-height: 4rem;
  --nav-offset: 4rem;
  --stroke-w: 4px;
  --hero-w: 78rem;
  --hero-modeswitch-h: 7rem;
  --hero-modeswitch-w: 14rem;
  --hero-modeswitch-slider-dist: 1.5rem;
  --float-modeswitch-size: 5rem;
  --float-modeswitch-h: 2.4rem;
  --float-modeswitch-w: 4rem;
  --float-modeswitch-slider-dist: 1rem;
  --featured-offset: 9rem;
  --card-h: 11rem;
  --card-gap: 1.5rem;
  --card-radius: 2rem;
  --card-offset: 1rem;
  --about-img-offset: 5rem;
  --project-content-w: 70rem;
  --md-radius: 2rem;
  --sm-radius: 1rem;
  --project-container-offset: 5rem;
  --project-grid-columns: 10;
  --project-grid-nr: calc(var(--project-grid-columns) * 2 - 1);
  --project-grid-gap: 1.8%;
  --project-sections-gap: 7rem;
  --modeswitch-transition-time: 400ms;
  --card-transition-time: 300ms;
  --hover-transition: 150ms ease-out;
  --grain: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  /* Constant Colors */
  --clr-orange: 217 119 14;
  --clr-yellow: 204 192 22;
  --clr-accent: var(--clr-orange);
  --clr-wb-dark: 24 24 24;
  --clr-wb-darkish: 39 39 39;
  --clr-wb-neutral: 136 136 136;
  --clr-wb-light: 250 250 250;
  --clr-transparent: 0 0 0 / 0;
  /* Color Variables */
  --c-bg: var(--clr-wb-dark);
  --c-fg: var(--clr-wb-light);
  --c-logo-fg: var(--clr-wb-light);
  --c-logo-bg: var(--clr-wb-neutral);
  --c-stroke: var(--clr-transparent);
  --c-highlighted-bg: var(--clr-wb-light);
  --c-pill-bg: rgb(var(--clr-wb-dark) / 0.6);
  /* Text Scaling */
  --step--2: clamp(0.6331rem, 0.7157rem + -0.1065vw, 0.6944rem);
  --step--1: clamp(0.8331rem, 0.8294rem + 0.0185vw, 0.8438rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.0959rem + 0.5207vw, 1.4994rem);
  --step-2: clamp(1.36rem, 1.1427rem + 0.8717vw, 1.788rem);
  --step-3: clamp(1.7281rem, 1.4025rem + 1.6283vw, 2.6644rem);
  --step-4: clamp(2.0738rem, 1.5596rem + 2.5707vw, 3.5519rem);
  --step-5: clamp(2.4881rem, 1.7066rem + 3.9076vw, 4.735rem);
}

.lightmode {
  --c-bg: var(--clr-wb-light);
  --c-fg: var(--clr-wb-dark);
  --c-logo-fg: var(--clr-transparent);
  --c-logo-bg: var(--clr-transparent);
  --c-stroke: var(--clr-wb-dark);
  --c-highlighted-bg: var(--clr-wb-dark);
  --c-pill-bg: rgb(var(--clr-wb-light));
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope Extra Bold"), url("/fonts/Manrope-ExtraBold.woff2") format("woff2"), url("/fonts//Manrope-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope Bold"), url("/fonts/Manrope-Bold.woff2") format("woff2"), url("/fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope Semibold"), url("/fonts/Manrope-SemiBold.woff2") format("woff2"), url("/fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope Medium"), url("/fonts/Manrope-Medium.woff2") format("woff2"), url("/fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope Regular"), url("/fonts/Manrope-Regular.woff2") format("woff2"), url("/fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope Light"), url("/fonts/Manrope-Light.woff2") format("woff2"), url("/fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope Extra Light"), url("/fonts/Manrope-ExtraLight.woff2") format("woff2"), url("/fonts/Manrope-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-display: block;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: rgb(var(--c-fg));
}

body {
  background: rgb(var(--c-bg));
  transition: background var(--modeswitch-transition-time) ease-out;
  overflow-x: hidden;
  position: relative;
}

.no-transition,
.no-transition *,
.no-transition *::before,
.no-transition *::after {
  transition: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  -webkit-hyphens: manual;
          hyphens: manual;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(var(--c-fg));
  transition: color var(--hover-transition);
}
a:hover {
  color: rgb(var(--clr-accent));
}

ul {
  list-style: none;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  color: transparent;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  background-color: rgb(var(--c-fg))/0.1;
}

::-moz-selection {
  background: rgb(var(--c-fg));
  color: rgb(var(--c-bg));
}

::selection {
  background: rgb(var(--c-fg));
  color: rgb(var(--c-bg));
}

button {
  background: none;
  border: none;
}

.block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.block-wrapper > * {
  transition: color var(--modeswitch-transition-time);
}
.block-wrapper a {
  font-weight: 600;
  color: color-mix(in oklab, rgb(var(--clr-accent)), rgb(var(--c-fg)) 60%);
  transition: color var(--hover-transition);
}
.block-wrapper a:hover {
  color: rgb(var(--clr-accent));
}

@media screen and (width <= 800px) {
  :root {
    --content-px: 1rem;
    --featured-offset: 7rem;
  }
}
.image--thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.01);
  transform-origin: center;
  transition: var(--card-transition-time);
}

.about-image {
  max-width: calc(100% + var(--about-img-offset));
  width: calc(100% + var(--about-img-offset));
  height: auto;
  box-shadow: 0px 6px 10px -8px black;
  background-color: rgb(var(--c-stroke));
  transition: var(--card-transition-time);
}

.project-hero-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image--next {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: var(--sm-radius);
  transform-origin: center;
  transition: var(--card-transition-time);
}

@media only screen and (width <= 800px) {
  :root {
    --project-sections-gap: 4rem;
  }
  .thumbnail-image {
    filter: brightness(1);
  }
}/*# sourceMappingURL=global.css.map */